* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
/* header */
.container-header {
    width: 95%;
    margin: 0 auto;
}

.main-header {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.main-header .container-header{
    display: flex;
    align-items: center;;
}
/* nombre de la empresa */
.nombre-empresa {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px;

}
/* logo de la empresa */
.logo-empresa img {
    height: 35px;

}

/* boton del header */
.boton-header .boton{
    background-color: #f0c14b;
    color: black;
    font-weight: bold;;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.boton-header{
    margin-left: auto;
}

/* carta de presentacion */
.presentacion-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    padding: 30px;
}

/* titulo dentro carta presentacion*/
.presentacion-container h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
/* texto dentro carta presentacion */
.presentacion-container span {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

