* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
/* header */

.main-header {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container-header{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* nombre de la empresa */
.nombre-empresa {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px;

}
/* logo de la empresa */
.logo-empresa img {
    height: 35px;

}

/* boton del header */
.boton-header .boton{
    background-color: #f0c14b;
    color: black;
    font-weight: bold;;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}
.boton-header{
    margin-left: auto;
}

/* carta de presentacion */

.presentacion{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    height: 600px;
    justify-content: center;
    align-content: center;
    color: #f9f9f9;
    text-align: center;
    padding: 60px 30px;
    margin: 0 auto;
    flex-wrap: wrap;
    overflow: hidden;

}

/* titulo dentro carta presentacion*/
.presentacion h1{
    font-size: 48px;
    margin-bottom: 16px;

}

/* texto dentro carta presentacion */
.presentacion p{
    font-size: 24px;
}

/* cuadro de imagen */
.imagen-1 img {
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}
/*cuadro de texto de los vehiculos*/

.vehiculos-texto{
    background: #f9f9f9;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: 600px;
    justify-content: center;
    align-content: center;
    color: black;
    text-align: center;
    padding: 60px 30px;
    margin: 0 auto;
    flex-wrap: wrap;
    overflow: hidden;

    
}
.vehiculos-texto h1{
    font-size: 48px;
    margin-bottom: 16px;

}
.vehiculos-texto p{
    font-size: 24px;
    margin-bottom: 16px;

}

/*vehiculos modelos img*/
.vehiculos-imagenes img{
    display: flex;
}