* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
/* header */

.main-header {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container-header{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* nombre de la empresa */
.nombre-empresa {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px;

}
/* logo de la empresa */
.logo-empresa img {
    height: 35px;

}

/* boton del header */
.boton-header .boton{
    background-color: #f0c14b;
    color: black;
    font-weight: bold;;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}
.boton-header{
    margin-left: auto;
}

/* carta de presentacion */

.presentacion{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    height: 600px;
    justify-content: center;
    align-content: center;
    color: #f9f9f9;
    text-align: center;
    padding: 60px 30px;
    margin: 0 auto;
    flex-wrap: wrap;
    overflow: hidden;

}

/* titulo dentro carta presentacion*/
.presentacion h1{
    font-size: 48px;
    margin-bottom: 16px;

}

/* texto dentro carta presentacion */
.presentacion p{
    font-size: 24px;
}

/* cuadro de imagen */
.imagen-1 img {
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}
/*nuestros vehiculos*/

.vehiculos{
    padding: 60px 0;
    text-align: center;
    min-height: 600px;
}

.vehiculos h1{
    font-size: 48px;
    margin-bottom: 16px;
}
.vehiculos h2{
    font-size: 36px;
    margin-bottom: 16px;
}
.vehiculos p{
    font-size: 18px;
    margin: 16px 0;
}

.vehiculos-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.vehiculo{
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.vehiculo:hover{
    transform: translateY(-8px);
}

.vehiculo img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.vehiculo h3{
    margin: 16px 0;
}

.vehiculo .precio{
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin: 16px 0;
    color: #f0c14b;
}

/*Equuipo de trabajo*/
.equipo-trabajo{
    padding: 60px 0;
    text-align: center;
    min-height: 600px;
    background-color: #f9f9f9;
}
.equipo-trabajo h1{
    font-size: 48px;
    margin-bottom: 16px;
}
.equipo-trabajo h2{
    font-size: 36px;
    margin-bottom: 16px;
}
.equipo-trabajo img{
    width: 100%;
    height: 200px;
    object-fit: scale-down;
}
.equipo-trabajo p{
    font-size: 18px;
    margin: 16px 0;
}
.equipo-container{
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
.miembro-equipo-1, .miembro-equipo-2, .miembro-equipo-3{
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin-bottom: 10px;
}

/* footer*/
.footer{
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.footer-redes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-redes img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.desarrollador{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
}
.texto-footer{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
}

/* Pagina desarrollador */



/*media queries*/
@media screen and (min-width: 768px) {

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 0 auto;
    }


    .presentacion-container {
        grid-column: 1; 
        grid-row: 1;
    }

    .presentacion {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 10px 10px;
    }


    .imagen-1 {
        grid-column: 2; 
        grid-row: 1;
    }

    
    .vehiculos {
        grid-column: 1/-1;
        grid-row: 2;
        padding: 40px 0;
    }

    .vehiculos-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        justify-items: center;
    }

    .equipo-trabajo {
        grid-column: 1/-1; 
        grid-row: 3;
    }

    .equipo-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .miembro-equipo-1,
    .miembro-equipo-2,
    .miembro-equipo-3 {
        width: 100%;
        margin: 0;
    }
    .footer-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 0 auto;
    }
    .footer-redes{
        grid-column: 1;
        grid-row: 2;
    }
    .desarrollador{
        grid-column: 3;
        grid-row: 2;
    }
    .texto-footer{
        grid-column: 2;
        grid-row: 3;
    }
}
